*{
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    
}

:root{
    --x :rgb(88, 30, 30)
}

#main{
    background-image: url('./images/furniture-img-bg.webp');
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: centre ;
    background-attachment: fixed;
}

#backg{
    background-color: rgba(0, 0, 0, 0.207);
    width: 100%;
    /* height: 100vh; */
}

#logo{
    width: 230px;
    height: 100px;
}

ul li{
    font-size: 20px;
}

#BUTTON{
    background-color: var(--x);
    color:white;
}

#BUTTON:hover{
    background-color: white;
    color: var(--x);
    border-color: var(--x);
}

li i{
    color: rgb(186, 173, 173);
}

@media(max-width:992px){
    .nav-item i{
        display: none;
    }
}

#welcome{
    margin-top: 22%;
    margin-left: 5%;
    color: white;
}

#welcome h4{
    font-size: 30px;
}
#welcome h1{
    font-size: 100px;
}

@media(max-width:600px){
    #welcome h4{
        font-size: 20px;
    }
    #welcome h1{
        font-size: 50px;
    }
}

#welcome button{
    border-color: white;
    color: white;
}

#welcome button:hover{
    background-color: white;
    color: var(--x);
    border-color: var(--x);
}

#work{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231102/pngtree-elegant-background-with-a-light-gray-marble-texture-image_13791002.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
    padding-top: 6%;
}

#work h1{
    color: white;
}

/* 
#work button{
    background-color: transparent;
} */

#viewbtn1:hover,  #viewbtn2:hover,  #viewbtn3:hover, #viewbtn4:hover, #viewbtn5:hover{
    background-color: var(--x);
    color:white;
}

#viewbtn1,  #viewbtn2,  #viewbtn3, #viewbtn4, #viewbtn5{
    background-color: transparent;
    color: var(--x);
    border-color: var(--x);
}

#about{
    background-color: rgb(241, 237, 237);
    padding-top: 8%;
}

#about h1{
    color: var(--x);
}

#hr{
    background-color: var(--x);
    width: 200px;
    height: 7px;
}

#about p{
    text-align: justify;
}

#aboutDiv{
    border: 7px solid var(--x);
    width: 80%;
    height: 400px;
    padding-top: 4%;
    padding-left: 4%;
}

#div1{
    background-color: rgba(0, 0, 0, 0.492);
    width: 50%;
    height: 6rem;
    color: white;
}

.div2{
    background-color: rgba(0, 0, 0, 0.492);
    width: 70%;
    height: 5rem;
    color: white;
}

